
.product-body:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    font-family: cursive;
    font-weight: 800;
    color: rgb(2, 37, 37);
}
.products-style{
    font-weight: 800;
    padding: 25px;
    margin: 5px;
    margin-bottom: 0;
    box-shadow:  10px 10px #05353a;
    height: 95%; 
}
.products{
    
    overflow: hidden;
    height: 100%;
}
