.payment-container {
    color: rgb(255, 230, 242);
    text-align: center;
 margin-top: 10%;
    margin-bottom: 28%;
}
.heading{
    color: rgb(4, 122, 122);
}
.dash-nav{
    height: 100%;
    background-color: rgb(0, 39, 65);
}
.dash-container{
    background-color: rgba(253, 253, 253, 0.932)
}
.dash-Items:hover{
   background-color: rgba(196, 143, 0, 0.863);
}