.nav-bar{
    font-family:cursive;
    color: aliceblue;
    background-color: rgb(12, 43, 63);
    padding: 5px;
}
.title{
    font-weight:600;
}
.nav-style{
    color: #fff;
    padding: 5px 10px;
    background-color: #e0e1fd;
    border-radius: 15px 5px;
    margin: 5px 10px;
    color: rgb(22, 21, 21);
    border: none;
    outline: none;
}
.nav-style:hover {
    transition: all 0.3s;
    color: rgb(180, 29, 79);
}

.selected{
    color:black;
    background-color: #d9daf1;
}

/* resposive design
@media screen and (max-width: 700px) {
    .style {
        color: #05063d;
        background-color: transparent;
        margin: 0 -2rem;
        padding: 5px 0 0 1.3rem;
        width: 100%;
    }

    .login-btn {
        background-color: transparent;
        color: #000;
        margin-left: -2rem;
        margin-top: 10px;
    }
} */