.login-page{
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px gray;
}
.login-btn{
    background-color: rgb(238, 177, 117);
    border-radius: 5px;
    width: 80px;
    box-shadow: 0px 0px 10px gold;
}
.login-body{
    color:rgb(232, 241, 248);
    background-color: rgb(8, 54, 54);

}
