.card-image{
    justify-content: center;
    color: rgb(112, 61, 99);
    padding: 5px;
    font-size: 40px;
}
.review-card{
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(34, 3, 29, 0.767);
    height: 280px;
    width: 350px;
    font-weight: 600;}
.review-card:hover{
    transition: all 0.1s;
    font-weight: 600;
     color: rgb(94, 142, 170);
     font-family: cursive;
}
.filled{
    color: rgb(255, 217, 0);}